@import url('https://fonts.googleapis.com/css?family=Rubik:300,700&display=swap');

html {
  scroll-behavior: smooth;
}

.page-container {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  visibility: visible;
  transition: 0.5s;
}

body {
  background-color: #333333;
  font-family: 'Rubik', Courier, monospace;
  font-weight: 300;
  overflow-x: hidden;
}

#page {
  transition: margin-left .5s;
}

.closeButton {
  position: absolute;
  color: white;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openButton {
  color: white;
  position: absolute;
  font-size: 36px;
  padding: 36px;
  z-index: 1;
}

.homeButton {
  position: absolute;
  color: white;
  top: 0;
  right: 75px;
  font-size: 36px;
  margin-left: 50px;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navContent {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin-left: 15px;
}

.navContent:hover {
  color: red;
  text-decoration: none;
}

.navContent-current {
  color: red;
  text-decoration: none;
  font-size: 30px;
  margin-left: 15px;
}

.navContent-current:hover {
  text-decoration: none;
  color: white;
}

h1 {
  color: white;
  font-weight: 700;
  text-align: left;
  margin-left: 75px;
  font-size: 72px;
}

h2 {
  color: white;
  font-weight: 700;
}

.h2Subpage {
  text-align: center;
  font-size: 3vw;
}

.h2Subheader {
  font-size: 2vw;
  text-anchor: middle;
  vertical-align: middle;
}

h3 {
  color: white;
  text-align: left;
  margin-left: 75px;
}

h4 {
  color: white;
  text-decoration: none;
}

p {
  color: white;
  font-size: 24px;
}

.row-divider {
  color: #5e5e5e;
  background-color: #5e5e5e;
  height: 1px;
  border-width: 0;
  width: 100vw;
  margin: 0%;
}

.title-row {
  height: 100vh;
  overflow: hidden;
  opacity: 1;
  transition: 0.3s;
}

.title-row-image {
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.0s;
}

.title-row-col {
  display: table;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

.title-row-span {
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 1.0s;
}

.linkImage {
  max-width: 48px;
  max-height: 48px;
}

.footer-col {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

/*
::-webkit-scrollbar-thumb {
    background:#121212;
    opacity: 0.25;
    height: 5px;
    border-radius: 3vh;
    transition: 5s;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background: red;
}

::-webkit-scrollbar-track {
    opacity: 0;
}
*/
.bubble-row {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  height: 28vh;
  width: 90vw;
  /* border: solid;
    border-color: white; */
  background-color: #121212;
  border-radius: 1em;
  overflow: hidden;
  color: #121212;
  opacity: 1;
}

/*.bubble-row:hover {
    transform: scale(1.5);
}*/

.bubble-image-col {
  background: white;
  text-align: center;
}

.bubble-image {
  object-fit: contain;
  max-height: 25vh;
  max-width: 100%;
}

.bubble-text {
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.bubble-code {
  align-content: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 3%;
  border-width: 1em;
  border: solid;
  border-color: #333333;
}

.code {
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color: white;
  display: none;
  border-radius: 1em;
}

.bubble-table {
  height: 100%;
  width: 100%;
}

.ProjectPage-row {
  margin-left: 5vw;
  margin-right: 5vw;
}

.ProjectPage-col {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #121212;
  border-radius: 1em;
  overflow: hidden;
  color: #121212;
  opacity: 1;
}

.About-col {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
  background-color: #5e5e5e;
  border-radius: 1em;
  overflow: hidden;
  color: #121212;
  opacity: 1;
}

.ProjectPage-image-container {
  height: 30vh;
  width: 100%;
  background-color: white;
  text-align: center;
}

.ProjectPage-image {
  object-fit: contain;
  max-height: 25vh;
  max-width: 100%;
}

.ProjectPage-text-container {
  height: 10vh;
  width: 100%;
  text-align: center;
}

.ProjectPage-bubble-row {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  padding: 5px;
  width: 90vw;
  background-color: #5e5e5e;
  border-radius: 1em;
  overflow: hidden;
  color: #121212;
  opacity: 1;
  text-align: center;
}

.subProjectTitle {
  height: 10vh;
  width: 100%;
  padding: 2vh;
  margin-bottom: 5vh;
  margin-right: 0px;
  margin-left: 0px;
  position: fixed;
  top: 0;
  border-bottom: white;
  background-color: #333333;
  z-index: 1;
  vertical-align: middle;
  overflow: hidden;
}

.subProjectPage-container {
  padding-left: 0;
  padding-right: 0;
  margin-top: 15vh;
  margin-right: auto;
  margin-left: auto;
  visibility: visible;
  transition: 0.5s;
}

.subProjectBody {
  background-color: #121212;
  font: Proxima Nova;
  overflow-x: hidden;
}

.subOpenButton {
  color: white;
  font-size: 30px;
  z-index: 1;
}

.portrait {
  float: left;
  border-radius: 1em;
  margin-left: 15px;
  margin-right: 15px;
  width: 10vw;

}

.linkText {
  text-align: inherit;
  font: inherit;
  font-size: inherit;
  color: white;
}

.linkText:hover {
  color: red;
}

.contact-link {
  display: none;
  transition-duration: display 10s;
}

.bubble-link:link {
  text-decoration: none;
}

.bubble-link:hover {
  text-decoration: none;
}

.bubble-link:visited {
  text-decoration: none;
}

.resume {
  text-align: center;
}

.resume-image {
  padding-top: 10vh;
  max-width: 100vw;
}

.reflection {
  display: none;
}